<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link crossorigin="anonymous" href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/sstyle.css">
<script src="https://kit.fontawesome.com/73d0bcc41b.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/images/favicon.jpg" type="image/x-icon">
    <title>Speak Out</title>
</head>
<body>

    <header class="fixed top-0 w-full z-30 bg-white-500 transition-all pt-2 shadow-lg">
        <nav class="max-w-screen-xl px-6 sm:px-8 lg:px-10 mx-auto grid grid-flow-col py-4">
            <div class="col-start-1 col-end-2 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16"> <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/> </svg>
                <a href="/main" class="text-xl font-semibold font-mono ml-2">Home</a>
            </div>
        </nav>
    </header>

    <div class="max-w-screen-xl mx-auto mt-12">
        <div class="overflow-hidden text-gray-300 bg-gray-500 lg:flex">
            <div class="relative w-full h-64 sm:h-96 lg:w-1/2 lg:h-auto">
                <img src="../static/images/cm.jpg" alt="Women smiling at college"
                    class="absolute inset-0 object-cover w-full h-full" />
            </div>
            <div class="w-full p-12 text-center lg:w-1/2 sm:p-16 lg:p-24 lg:text-left">
                <div class="max-w-xl mx-auto lg:ml-0">
        
                    <p class="mt-2 text-2xl font-bold text-white sm:text-3xl">
                        Child Marriage
                    </p>
        
                    <p class="hidden lg:mt-4 lg:block">
                        Child marriage prevalence is generally defined as the percentage of women <b class="text-gray-700"> 20-24</b> years old who were married or in union before age 18. India is estimated to have over 24 million child brides. 40% of the world’s <b class="text-gray-700"> 60</b> million child marriages take place in India according to the National Family Health Survey. India has the <b class="text-gray-700"> 14th</b> highest rate of child marriage in the world, according to the International Center for Research on Women.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="text-2xl sm:text-4xl mt-12 sm:mt-16 text-blue-500 fn1 text-center ">Laws for protection of women against Child marriage</h3>
    </div>

    <div class="focus:outline-none py-8 w-full">
        <div class="md:flex items-center justify-center w-full">
            <div class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">The Prohibition of Child Marriage Act</p>
                            <p class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">2006</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">
                        The Prohibition of Child Marriage Act, 2006 prohibits solemnization of marriage of a boy who is less than 21 years of age arid a girl who is less than 18 years of age.


                    </p>     
                </div>
            </div>
            <div class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">National Commission for Women Act</p>
                            <p class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">1990</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">
                        The National Commission for Women (NCW) is a statutory body of the Government of India, established in January 1992.The National Commission for Women Act aims to improve the status of women and worked for their economic empowerment.
                    </p>     
                </div>
            </div>
        </div>
        <div class="md:flex items-center justify-center w-full">
            <div class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">Section 354 of the IPC</p>
                            <p class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">2013</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">
                        Section 354 of the IPC criminalises any act by a person that assaults or uses criminal force against a woman with the intention or knowledge that it will outrage her modesty. Such an act is punishable with either simple or rigorous imprisonment of up to 2 years, or a fine, or both.
                    </p>     
                </div>
            </div>
            <div class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
                <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full">
                            <p class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">Dowry Prohibition Act</p>
                            <p class="focus:outline-none text-sm leading-normal pt-2 text-gray-500 dark:text-gray-200 ">1961</p>
                        </div>
                    </div>
                </div>
                <div class="px-2">
                    <p class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">
                        Dowry Prohibition Act (1961) prohibits the giving or receiving of dowry at or before or any time after the marriage from women
                    </p>     
                </div>
            </div>
        </div>
    </div>


    <section class="bg-gray-200">
        <div class="px-4 py-16 mx-auto sm:px-6 lg:pl-8 lg:pr-0 lg:mr-0 sm:py-24 max-w-[1340px]">
            <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-16 gap-y-8 lg:items-center">
                <div class="max-w-xl text-center sm:text-left">
                    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
                        You are not alone...
                        <br class="hidden sm:block lg:hidden" />
                        Read here other survivors stories
                    </h2>

                    <p class="mt-4 text-gray-500">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
                        veritatis illo placeat harum porro optio fugit a culpa sunt id!
                    </p>

                    <div class="hidden lg:mt-8 lg:flex lg:gap-4">
                        <button aria-label="Previous slide"
                            class="p-3 text-pink-600 border border-pink-600 rounded-full hover:bg-pink-600 hover:text-white prev-button">
                            <svg class="w-5 h-5 transform -rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                            </svg>
                        </button>

                        <button aria-label="Next slide"
                            class="p-3 text-pink-600 border border-pink-600 rounded-full hover:bg-pink-600 hover:text-white next-button">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="-mx-6 lg:col-span-2 lg:mx-0">
                    <div class="swiper-container">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <blockquote class="flex flex-col justify-between h-full p-12 bg-white">
                                    <div class="mt-4">
                                        <p class="text-2xl font-bold text-pink-600 sm:text-3xl">
                                            Violence By In-laws
                                        </p>
                                
                                        <p class="mt-4 leading-relaxed text-gray-500">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                            Incidunt, atque, aperiam inventore aliquam iure ullam modi laboriosam aspernatur 
                                            fuga voluptas at officia quod cupiditate hic neque doloribus exercitationem iusto vero.
                                        </p>
                                    </div>     
                                    <footer class="mt-8 text-sm text-gray-500">
                                        &mdash; Pratiksha Sharma
                                    </footer>
                                </blockquote>
                            </li>

                            <li class="swiper-slide">
                                <blockquote class="flex flex-col justify-between h-full p-12 bg-white">
                                    <div class="mt-4">
                                        <p class="text-2xl font-bold text-pink-600 sm:text-3xl">
                                            Violence By Husband
                                        </p>
                                
                                        <p class="mt-4 leading-relaxed text-gray-500">
                                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                            Incidunt, atque, aperiam inventore aliquam iure ullam modi laboriosam aspernatur 
                                            fuga voluptas at officia quod cupiditate hic neque doloribus exercitationem iusto vero.
                                        </p>
                                    </div>     
                                    <footer class="mt-8 text-sm text-gray-500">
                                        &mdash; Shreya 
                                    </footer>
                                </blockquote>
                            </li>

                            <li class="swiper-slide">
                                <blockquote class="flex flex-col justify-between h-full p-12 bg-white">
                                    <div class="mt-4">
                                        <p class="text-2xl font-bold text-pink-600 sm:text-3xl">
                                            Dowry Abuse
                                        </p>
                                
                                        <p class="mt-4 leading-relaxed text-gray-500">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                            Expedita a, hic architecto eos corrupti in, quia veniam soluta possimus nisi neque esse 
                                            fugiat tempore aliquam, quasi provident. Iste, saepe vero.
                                        </p>
                                    </div>
                                    <footer class="mt-8 text-sm text-gray-500">
                                        &mdash; Priya Mehra
                                    </footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="flex justify-center gap-4 mt-8 lg:hidden">
                <button aria-label="Previous slide"
                    class="p-4 text-pink-600 border border-pink-600 rounded-full hover:bg-pink-600 hover:text-white prev-button">
                    <svg class="w-5 h-5 transform -rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </button>

                <button aria-label="Next slide"
                    class="p-4 text-pink-600 border border-pink-600 rounded-full hover:bg-pink-600 hover:text-white next-button">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </button>
            </div>
        </div>
    </section>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-2xl">
                       Organisation
                    </th>
                    <th scope="col" class="px-6 py-3 text-2xl">
                        Helpline Number
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        National Commison For Women (NCW) ( Domestic voilence 24x7 helpline for Sexual Voilence and harrashment )
                    </th>
                    <td class="px-6 py-4">
                        7827170170
                    </td>
                   
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        National Commison For Women (NCW)
                    </th>
                    <td class="px-6 py-4">
                        011-26942369, 26944754
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        Women Helpline ( All India ) - Women In Distress
                    </th>
                    <td class="px-6 py-4">
                        1091
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        Saheli - a womens organization
                    </th>
                    <td class="px-6 py-4">
                        (011) 24616485 (Saturdays)
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        Nari Raksha Samiti
                    </th>
                    <td class="px-6 py-4">
                        (011) 23973949
                    </td>
                </tr>
            </tbody>
        </table>
    
        <div>
            <h1 class=" text-2xl sm:text-4xl mt-12 sm:mt-16 text-red-800 font-serif text-center w-full"> Not gaining courage to report or call ? <br>
           <a href="/getHelp">Talk to our councellors  <i class="fa-solid fa-chevron-right text-red-800 text-2xl animate-pulse"></i></a> </h1>
        </div>
    <div class="relative overflow-hidden text-white bg-gradient-to-r from-sky-400 to-blue-700">
        <div class="relative z-10 max-w-screen-xl px-4 py-24 mx-auto sm:px-6 lg:px-8">
            <div class="max-w-xl space-y-8 text-center sm:text-right sm:ml-auto z-10">
                <h2 class="text-4xl font-bold sm:text-5xl">
                    STAYING HOME <br> DOES NOT MEAN <br>
                    <span class="text-red-800">
                        STAYING SILENT!
                    </span>
                </h2>
                <p class="text-2xl text-white">✊ Speak Out Loud Now!</p>
            </div>
        </div>
    
        <div class="absolute inset-0 w-full h-full mix-blend-multiply">
            <img src="../static/images/i4.jfif" class="absolute inset-0 object-cover object-top w-full h-full" />
        </div>
    </div>

    <div class="text-center text-gray-700 p-8" style="background: rgb(0, 0, 0, 0.1);">
        © 2023 Copyright: <a class="text-gray-800 fn1" href="#">Speak Out</a>
    </div>

    <script crossorigin="anonymous" defer src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Swiper('.swiper-container', {
                loop: true,
                slidesPerView: 1,
                spaceBetween: 32,
                autoplay: {
                    delay: 8000,
                },
                breakpoints: {
                    640: {
                        centeredSlides: true,
                        slidesPerView: 1.25,
                    },
                    1024: {
                        centeredSlides: false,
                        slidesPerView: 1.5,
                    },
                },
                navigation: {
                    nextEl: '.next-button',
                    prevEl: '.prev-button',
                },
            })
        })
    </script>

</body>
</html>