<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../static/sstyle.css">
    <link rel="shortcut icon" href="../static/images/favicon.jpg" type="image/x-icon">
    <title>Speak Out</title>
</head>

<body>

    <div class="h-screen w-screen bg-gray-100 flex items-center">
        <div data-aos="zoom-in" class="container flex flex-col md:flex-row items-center justify-center px-5 text-gray-700">
            <div class="max-w-md">
                <p class="text-2xl md:text-3xl font-medium leading-normal">Site Under Construction </p>
                <p class="mt-4 mb-8">Sorry, we can't have the page you are looking for now. Please view are other pages!</p>

                <button class="px-4 inline py-2 text-sm font-medium leading-5 shadow text-white transition-colors duration-150 border border-transparent rounded-lg focus:outline-none focus:shadow-outline-blue bg-blue-600 active:bg-blue-600 hover:bg-blue-700">
                    <a href="/main">Back To Home</a>
                </button>
            </div>
            <div class="max-w-lg">
                <img src="../static/images/img2.png" alt="">
            </div>

        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1500,
        })
    </script>
</body>

</html>